charset-normalizer
click
dill
Flask
Flask-Cors
idna
itsdangerous
joblib
matplotlib
numpy
opencv-python
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
psutil
pure-eval
pycparser
Pygments
pyrsistent
python-dateutil
pytz
pytest-gc
pyzmq
qtconsole
QtPy
requests
scipy
scikit-learn
sklearn
torch
torchaudio
torchvision
tornado
urllib3
webencodings
Werkzeug
